body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fffbf3;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* .freezing > .indicator,
.hot > .indicator,
.cold > .indicator {
  color: #fff;
  font-weight: 600;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-shadow: -1px -1px 0px #212121, -1px 0px 0px #212121, -1px 1px 0px #212121,
    0px -1px 0px #212121, 0px 0px 0px #212121, 0px 1px 0px #212121,
    1px -1px 0px #212121, 1px 0px 0px #212121, 1px 1px 0px #212121,
    -2px -2px 0.5px rgba(0, 0, 0, 0.9), -2px 0px 0.5px rgba(0, 0, 0, 0.9),
    -2px 2px 0.5px rgba(0, 0, 0, 0.9), 0px -2px 0.5px rgba(0, 0, 0, 0.9),
    0px 0px 0.5px rgba(0, 0, 0, 0.9), 0px 2px 0.5px rgba(0, 0, 0, 0.9),
    2px -2px 0.5px rgba(0, 0, 0, 0.9), 2px 0px 0.5px rgba(0, 0, 0, 0.9),
    2px 2px 0.5px rgba(0, 0, 0, 0.9);
} */

/* .warm {
  color: #000;
  font-weight: 600;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-shadow: -1px -1px 0px #ffe, -1px 0px 0px #ffe, -1px 1px 0px #ffe,
    0px -1px 0px #ffe, 0px 0px 0px #ffe, 0px 1px 0px #ffe, 1px -1px 0px #ffe,
    1px 0px 0px #ffe, 1px 1px 0px #ffe, -2px -2px 0.5px rgba(255, 255, 254, 0.9),
    -2px 0px 0.5px rgba(255, 255, 254, 0.9),
    -2px 2px 0.5px rgba(255, 255, 254, 0.9),
    0px -2px 0.5px rgba(255, 255, 254, 0.9),
    0px 0px 0.5px rgba(255, 255, 254, 0.9),
    0px 2px 0.5px rgba(255, 255, 254, 0.9),
    2px -2px 0.5px rgba(255, 255, 254, 0.9),
    2px 0px 0.5px rgba(255, 255, 254, 0.9),
    2px 2px 0.5px rgba(255, 255, 254, 0.9);
} */
