name: CI
on: [push]
jobs:
  lighthouseci:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-node@v5
        with:
          node-version: 24
      - run: npm install && npm install -g @lhci/cli@0.15.x
      - name: Build
        run: npm run build
        env:
          BASE_URL: ${{ env.BASE_URL || github.event.deployment_status.environment_url }}
          MET_WEATHER_DAILY_URL: ${{ env.MET_WEATHER_DAILY_URL || vars.MET_WEATHER_DAILY_URL }}
          MET_WEATHER_HOURLY_URL: ${{ env.MET_WEATHER_HOURLY_URL || vars.MET_WEATHER_HOURLY_URL }}
          MET_WEATHER_SECRET: ${{ env.MET_WEATHER_SECRET || secrets.MET_WEATHER_SECRET }}
      - run: lhci autorun
