name: Integration

on:
  deployment_status:
jobs:
  test:
    environment:
      name: Continuous Integration
    if: github.event_name == 'deployment_status' && github.event.deployment_status.state == 'success'
    runs-on: ubuntu-latest
    container:
      image: mcr.microsoft.com/playwright:v1.56.0-noble
      options: --user 1001
    steps:
      - uses: actions/checkout@v4
      - name: Install dependencies
        run: npm ci
      - name: Run tests
        run: npm run test
        env:
          BASE_URL: ${{ github.event.deployment_status.environment_url }}
          MET_WEATHER_DAILY_URL: ${{ variables.MET_WEATHER_DAILY_URL }}
          MET_WEATHER_HOURLY_URL: ${{ variables.MET_WEATHER_HOURLY_URL }}
          MET_WEATHER_SECRET: ${{ secrets.MET_WEATHER_SECRET }}
      - uses: actions/upload-artifact@v4
        if: ${{ !cancelled() }}
        with:
          name: playwright-report
          path: playwright-report/
          retention-days: 30
