name: Integration

on:
  deployment_status:
jobs:
  test:
    environment:
      name: Continuous Integration
    if: github.event_name == 'deployment_status'
    runs-on: ubuntu-latest
    container:
      image: mcr.microsoft.com/playwright:v1.57.0-noble
      options: --user 1001
    steps:
      - run: echo "event name is:" ${{ github.event_name }}
      - run: echo "event type is:" ${{ github.event.action }}
      - run: echo "event type is:" ${{ github.event.deployment_status.state }}
      - uses: actions/checkout@v5
      - name: Install dependencies
        run: npm ci
      - name: Run tests
        run: npm run test
        env:
          BASE_URL: ${{ env.BASE_URL || github.event.deployment_status.environment_url }}
          MET_WEATHER_DAILY_URL: ${{ env.MET_WEATHER_DAILY_URL || vars.MET_WEATHER_DAILY_URL }}
          MET_WEATHER_HOURLY_URL: ${{ env.MET_WEATHER_HOURLY_URL || vars.MET_WEATHER_HOURLY_URL }}
          MET_WEATHER_SECRET: ${{ env.MET_WEATHER_SECRET || secrets.MET_WEATHER_SECRET }}
      - uses: actions/upload-artifact@v6
        if: ${{ !cancelled() }}
        with:
          name: playwright-report
          path: playwright-report/
          retention-days: 30
      - name: Lighthouse
        run: lhci autorun
